*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



    .calendarmaaindiv{
        border: solid 0.6px #0732EF;
        border-radius: 30px;
        ;height: 500px;display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        width: 1150px;
        // width: 77%

        .calendarchild1{
            width: 70%;
            height: 83%;
            // border: solid 0.7px red;
            display: flex;
            flex-direction: column;
            gap: 25px;
            

            .top-part{
                display: flex;
                width: 100%;

                .top-column{
                    display: flex;flex-direction: column;
                    width: 100%;gap: 5px;

                    .kide-row{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        &:hover{
                            .psvg{cursor: pointer;
                                .timezone, .chevron{
                                    opacity: 0.7;
                                    
                                }
                            }
                        }

                        .pick{
                             color:#0732EF;
                            font-size: 23px;
                            font-weight: bold;

                        }

                        .psvg{
                            align-items: flex-end;
                            display: flex;
                               .timezone{
                             color:#0732EF;
                            font-size: 15px;
                            font-weight: 500;
                        }

                        .chevron{
                            color:#0732EF;
                        }
                        }

                     
                    }

                    .line{
                        height: 0.5px;background-color: #0732EF;
                        width: 100%;
                    }
                }
            }
            .main-part{
                display: flex;
                width: 100%;
                height: 100%;
                
                

                .mainpartchilds{
                    width: 50%;
                    height: 100%;
                    
                }

                .fr-child{
                   
                    padding: 0px 25px;
                    gap: 35px;
                    display: flex;flex-direction: column;

                    .frchildtop{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        // padding: 0px 25px;
                        

                        svg{
                            color:#0732EF;
                            cursor: pointer;
                        }
                        p{
                            color:#0732EF;
                            font-size: 21px;
                            letter-spacing: 1px;
                        }
                    }

                    .actualcalendar{
                        display: flex;
                        width: 100%;
                        height: 90%;
                        
                        
                        // gap: 1px;

                        .calendarrow{
                            display: flex;
                            flex-direction: column;
                            
                            gap: 10px;
                            width: 50px;
                            align-items: center;

                            .month{
                                color: #0732EF;
                                font-weight: 600;
                                font-size: 15px;
                                opacity: 0.7;
                            }
                            .numbers{
                                 
                                font-weight: 600;
                                font-size: 16px;
                            }
                            .dotdiv{
                                display: flex;flex-direction: column;
                                align-items: center;
                                padding: 6px 12px;;border-radius: 50px;
                                
                                &:hover{
                                    background-color: #0000000e;
                                    cursor: pointer;
                                }
                                
                                 color: #0732EF;
                                font-weight: 600;
                                font-size: 16px;
                              
                                
                                .dot{
                                    width: 4px;height: 4px;
                                    background-color: rgb(81, 122, 6);;
                                    border-radius: 20px;
                                }
                            }
                        }
                       
                    }
                }
                .sc-child{
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    gap: 30px;

                    .sessionsdiv{
                        display: flex;justify-content: center;

                        p{
                            color:#0732EF;
                            text-decoration: underline;
                            font-size: 20px;

                            &:hover{
                                opacity: 0.7;
                                cursor: pointer;
                            }
                        }
                    }

                    p{
                        color:#0732EF;
                        font-size: 21px;
                    }

                    .timecolumn{
                        display: flex;flex-direction: column;
                        gap: 10px;
                        


                        .buttonrow{
                            display: flex;
                            gap: 10px;;

                            button{
                                border: solid 0.6px #0732EF;
                                border-radius: 30px;
                                padding: 10px 50px;
                                background-color: transparent;
                                color:#0732EF;
                                font-size: 15px; 
                                font-weight: bold;

                                &:hover{
                                    background-color: rgba(0, 0, 0, 0.056);
                                    cursor: pointer;
                                    
                                }
                                &:active{
                                    background-color: rgba(0, 0, 0, 0.104);
                                }
                            }
                        }
                    }
                }
            }
        }
        .calendarchild2{
            width: 23%;
            height: 83%;
            display: flex;flex-direction: column;
            // border: solid 0.7px blue;

            .detailscolumn{
                 display: flex;flex-direction: column;
                 gap: 5px;
                p{color:#0732EF;
                  font-size: 23px;
                  font-weight: bold;
                }

                .lineee{
                    height: 0.5px;background-color: #0732EF;
                        width: 100%;
                }
            }
            .calendarend{
                display: flex;flex-direction: column;
                padding-top: 25px;
                gap: 5px;

                .endP{
                    color:#0732EF;
                    font-size: 19px;
                    letter-spacing: 1px;;
                }

                .miniP{
                    font-size: 14px;
                    font-weight: bold;
                    color:#0732EF;
                }
            }
            .buttondiv{
                display: flex;width: 100%;
                align-items: center;
                padding-top: 40px;

                button{
                    border: 0.7px solid #0732EF;
                    border-radius: 30px;
                    background-color: transparent;
                    color:#0732EF;
                    font-size: 20px;
                    padding: 8px 100px;
                    transition: 0.2s ease-in-out;

                    &:hover{
                        background-color: #0732EF;
                        color: white;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }


@media screen and (max-width: 1448px){
    .calendarmaaindiv{
        .calendarchild1{
            .main-part{
                .sc-child{
                    .timecolumn{
                        
                        .buttonrow{
                            display: flex;flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .calendarmaaindiv{
        display: flex;flex-direction: column;
       height: 800px;
       width: 900px;
       
    }
}